/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.question__container {
  border-radius: 12px;
  background: #0059b2;
  padding: 1rem;
  color: #fff;
  width: 100%;
  margin-bottom: 2rem;
}
.question__title h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.question__choose {
  padding: 1rem;
  border-radius: 12px;
  background: #fff;
  margin-bottom: 1rem;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.4s;
}

.question__choose.active {
  background: #5090d3;
  border: 1px solid #5090d3;
}
.question__choose.active p {
  color: #fff;
}
.question__choose:hover {
  background: #5090d3;

  /* Làm mờ không dùng opacity*/
  /* opacity: 0.8; */
}
.question__choose:hover.question__choose p {
  color: #fff;
}
.question__choose p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #0059b2;
}

/* chat */
.chat__container {
  background: #ffffff;
  box-shadow: 0px 5.04504px 25.2252px rgba(0, 0, 0, 0.15);
  border-radius: 5.63251px;
  padding: 1rem;
}
.chat__room {
  width: 500px;
  height: auto;
}
.chat__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e5e5e5;
}
.chat__header__left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat__header__left h4 {
  font-size: 14px;
  margin-bottom: 0;
  margin-left: 0.5rem;
  font-weight: 600;
  line-height: 10px;
  color: #2c2c2e;
}
.sender__avatar {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.status__active {
  margin-bottom: 0;
  color: #00a739;
  font-size: 11px;
  list-style: circle;
  margin-left: 0.5rem;
}

.chat__content {
  height: 400px;
  overflow-y: scroll;
  padding: 0 1rem;
}
.chat__content::-webkit-scrollbar {
  width: 5px;
}
.chat__content::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.chat__content::-webkit-scrollbar-thumb {
  background: #888;
}
.chat__content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat__message {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: #fff;
  gap: 0.5rem;
}
.chat__message__right {
  margin-bottom: 1rem;
  justify-content: flex-end;
}
.chat__message__left {
  margin-bottom: 1rem;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.chat__message__content p {
  margin-bottom: 5px;
}
.chat__message__right .chat__message__content {
  border-radius: 10px;
  background: #0059b2;
  padding: 0.5rem 1rem;
  font-size: 11px;
  font-weight: 500;
}

.chat__message__left .chat__message__content {
  border-radius: 10px;
  background: #868e97;
  padding: 0.5rem 1rem;
  font-size: 11px;
  font-weight: 500;
}
.chat__message__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.chat__timestamp {
  font-size: 10px;
  float: right;
}

.input__sendMessage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  position: relative;
}
.input__sendMessage textarea {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  padding: 1rem;
  outline: none;
  font-size: 12px;
  min-height: 70px;
  resize: vertical;
}
.input__sendMessage i {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.error__message {
  color: red;
  font-size: 12px;
  margin-top: 0.2rem;
  margin-bottom: 0;
  text-align: center;
}

.typing__animation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

/* animation typing */
.typing__dot {
  width: 6px;
  height: 6px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  background-color: #777;
  animation: typing 1s infinite;
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typing {
  0% {
    opacity: 0.2;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
}

/* animation typing */
